
body{
    padding: 0;
    margin: 0;
}
:root{
    --primaryColor: #076CDD;
}
.navbar{
    background-color: black !important;
    position: fixed;
    width: 100%;
    z-index: 1000;

}
.navbar-brand{
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 55px;
}
.navbar-brand span{
    color: var(--primaryColor);
}
.navbar ul li a{
    color: white;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}
.navbar ul li a.active{
    color: var(--primaryColor) !important;
}
.navbar ul li a:hover{
    color: var(--primaryColor);
    border-bottom: 2px solid white;
}
.navbar ul li.dropdown ul {
    background-color: black;
    transition: 0.5px;
}
.navbar ul li.dropdown ul li:hover{
    display: inline-block;
}
.banner{
    height: 100vh;
    background: url(images/hero-bg.jpg) no-repeat center/cover fixed;
    color: white;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;

}
.cont h3{
    color: var(--primaryColor);
    font-size: 60px;
    font-weight: 700;
}
.cont p{
    font-size: 45px;
    font-weight: 500;
}
/* section about */
#about .progress{
    height: 10px !important;
}
#about .trai{
    height: 5px;
    width: 100px;
    margin-bottom: 20px;
}
#about .about{
    font-size: 18px;
}
#service .trai{
    height: 5px;
    width: 30px;
    margin: 0 auto;

}
#service .boite-icon .bi{
    font-size: 30px;
}
#service .boite-icon{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 8px solid var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}
#service .card:hover .boite-icon{
    background-color: #076CDD;
    border-color: rgb(207, 207, 228);
}
#service .card:hover .bi{
    color: white;
}
/* work banner */
#work-banner{
    background: url(images/post-3.jpg) no-repeat center/cover fixed;
    margin: 50px 0;
  
}
#work-banner .overlay{
    height: 350px;
    background-color: #076CDDCD;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#work-banner .boite-icon{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 10px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}
#work-banner .boite-icon .bi{
    font-size: 30px;
}

/* portfolio */
#portfolio .trai{
    height: 5px;
    width: 30px;
    margin: 0 auto 30px;
}
#portfolio .d-flex p{
    text-align: left;
}
#portfolio .d-flex .bi{
    font-size: 40px;
    color: #076CDD;
  
}
#portfolio .d-flex{
    justify-content: space-between;
    align-items: center;
}
/* profile */
#profile{
    background: url(images/work-5.jpg) no-repeat center/cover;
    margin: 50px 0;
}
#profile .overlay{
    height: 350px;
    background-color: #076CDDCD;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
#profile .overlay .carousel-inner img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}
#profile .overlay .carousel-indicators button{
    width: 15px;
    height: 15px;
    border-radius: 100%;
}




@media (max-width:767px) {
    #work-banner .overlay{
        height: unset;
        padding: 30px 0;
    }
}

/* blog */
#blog .profile, .profile img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
#blog  .card-footer{
    font-size: 11px;
}
#blog .position-relative img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
  #blog .position-relative{
    position: reletive;
    height: 200px;
}
#blog .position-relative h4{
    position: absolute;
    bottom: -13%;
    background-color: #076CDD;
    padding: 8px 15px ;
    color: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    text-align: center;
}
#blog .trai{
    height: 5px;
    width: 30px;
    margin: 0 auto 30px;
}
/* Contact */
#contact .trai{
    height: 5px;
    width: 30px;
    margin: 0 auto 30px;
}
#contact .boite-icon .bi{
    font-size: 20px;
    color: #076CDD;
}
#contact .boite-icon{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 2px solid var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto 20px; */
}
#contact .card .col-md-4:hover .boite-icon{
    background-color: #076CDD;
   
}
#contact .card .col-md-4:hover .bi{
    color: white;
   
}